$lightColor: white;
$dimColor: #9499C3;
$highlightColor: #00CF67;
$activeIconColor: #38D9A9;
$actionColor: #00F0FF;
$btnColor: #1A1B2F;
$red: #EB5757;
$gray: #f2f2f2;

$iconBorderColor: #32334A;
$inputBorderColor: #1A1C31;
$imgBorderColor: #3F4055;

$bgColor: #191A29;
$popupBgColor: #1A1B2F;
$btnBgColor: #E1E2EF;
$inputBgColor: #242538;